* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --link: #ED8E00;
    --main-color: #fff;
    --title: #F18128;
    --body: #040D1F;
    --second-color: #000;
    --RR: 'Roboto';
    --MM: 'Montserrat';
    --CC: 'Comfortaa';
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.nav {
    background: #52503B;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.nav::before {
    backdrop-filter: blur(10px);
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    gap: 30px;
}

.logo {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    color: var(--main-color);
}

.nav__link {
    padding: 42px 0;
    font-size: 14px;
    line-height: 14px;
    color: var(--main-color);
    display: inline-block;
    transition: 0.3s;
    position: relative;
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--link);
    transition: 0.3s;
}

.nav__link:hover::after {
    width: 100%;
}

.nav__link:hover {
    color: var(--link);
}

.nav__item {
    padding: 42px 0;
    font-size: 14px;
    line-height: 14px;
    color: var(--main-color);
    display: inline-block;
    transition: 0.3s;
    position: relative;
}

.nav__item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--link);
    transition: 0.3s;
}


.btn {
    border-radius: 8px;
    background: var(--main-color);
    padding: 17px 0;
    width: 100px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    color: var(--secont-color);
    font-family: var(--RR);
    transition: 0.3s;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.header {
    background: url(../image/uy.png) no-repeat center / cover;
    height: 800px;
    width: 100%;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    padding-top: 200px;
}

.header__text {
    max-width: 1174px;
    width: 100%;
    font-size: 48px;
    line-height: 53px;
    text-align: center;
    margin-bottom: 50px;
    color: var(--main-color);
    font-weight: 400;
    position: relative;
}

.header__img {
    margin-bottom: 30px;
}


.company {
    padding-top: 141px;
    padding-bottom: 89px;
}

.company__content {
    max-width: 912px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-left: 32px;
    padding-bottom: 69px;
    border-bottom: 1px solid #E8E8E9;
}

.company__desc {
    max-width: 408px;
    width: 100%;
    margin-bottom: 100px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
    color: #000000;
    margin-right: 40px;
    height: 180px;
}



.company__card-desc {
    max-width: 362px;
    width: 100%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 100px;
    height: 80px;
}

.guest {
    padding-top: 140px;
    padding-bottom: 140px;
}

.guest__title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    color: #52503B;
}

.guests {
    background: url(../image/stol.png) no-repeat center / cover;
    height: 800px;
}


.sleping__content {
    margin: 0 auto;
    text-align: center;
    margin-top: 74px;
    margin-bottom: 20px;
}

.sleping__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.288px;
    color: #000000;
    padding-bottom: 14px;
    width: 320px;
    margin: 0 auto;
}

.sleping__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 31px;
    text-align: center;
    color: #46474E;
    padding-bottom: 30px;
    width: 705px;
    margin: 0 auto;
}

.mini__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meet__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    padding-top: 24px;
    padding-bottom: 3px;
}

.meet__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #46474E;
    margin: 0 auto;
    padding: 40px;
}

.meet {
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.perfect {
    background: url(../image/uy2.png) no-repeat center / cover;
    height: 800px;
}

.book__content {
    padding-top: 100px;
    padding-bottom: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.book__title {
    padding-bottom: 16px;
    position: relative;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #52503B;
}

.book__text {
    padding-bottom: 17px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #52503B;
}

.btns {
    border-radius: 4px;
    background: var(--body);
    padding: 17px 0;
    width: 166px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    color: var(--main-color);
    font-family: var(--RR);
    transition: 0.3s;
    position: relative;
    z-index: 1;
    overflow: hidden;
    justify-content: space-between;
}

.book__item {
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    text-align: center;
    margin: 5px;
    padding-top: 18px;
}

.footer {
    background: #52503B;
    height: 258px;
}

.footer__content {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer__img {
    padding-top: 50px;
    padding-bottom: 30px;
}

.footer__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 25px;
}

.footer__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}